{% load static %}
{% load i18n %}
<div class="carousel">
    <div class="carousel-item active">
        <img src="{% static 'image/1.jpg' %}" alt="Image 1">
        <div class="carousel-content">
            <h2>Bienvenue sur MaBanque</h2>
            <p>Des solutions financières adaptées à vos besoins</p>
        </div>
    </div>
    <div class="carousel-item">
        <img src="{% static 'image/i2.jpg' %}" alt="Image 2">
        <div class="carousel-content">
            <h2>Investissez dans votre avenir</h2>
            <p>Découvrez nos offres d'épargne avantageuses</p>
        </div>
    </div>
    <div class="carousel-item">
        <img src="{% static 'image/i3.jpg' %}" alt="Image 3">
        <div class="carousel-content">
            <h2>Banque en ligne sécurisée</h2>
            <p>Gérez vos comptes en toute tranquillité</p>
        </div>
    </div>
</div>