annotated-types==0.7.0
asgiref==3.8.1
astroid==3.2.4
bitpay==6.1.0
bootstrap-email==0.4.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
cssselect==1.2.0
cssutils==2.11.1
dill==0.3.8
Django==5.1.1
django-bs-email==0.2.2
django-modeltranslation==0.19.9
django-rosetta==0.10.0
ecdsa==0.19.0
idna==3.8
isort==5.13.2
libsass==0.23.0
lxml==5.3.0
mccabe==0.7.0
more-itertools==10.5.0
pillow==10.4.0
platformdirs==4.3.3
polib==1.2.0
premailer==3.10.0
pydantic==2.7.4
pydantic_core==2.18.4
pylint==3.2.7
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
stripe==10.10.0
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==2.2.2
